body {
    margin: 0;
    padding: 0;
   }

header {
    height:70px;
    background-color: #bdbdbd;
    margin-bottom: 10px;
}


main {
    display: flex;
    flex-direction: row;
}

.a-b {
    
    width: 75%;
}
.a{
    background-color: red;
    height: 350px;
    width: 100%;
}
.b{
    background-color: orange;
    height: 350px;
    width: 100%;
}
.c{
    background-color: yellow;
    height: 700px;
    width: 25%;
}



footer {
    height:70px;
    background-color: #bdbdbd;
    margin-top: 10px;

}





 @media (max-width: 768px){
    .a-b{
        width: 50%;
    }
    .a{
        height: 250px;
        width: 100%;
    }
    .b{
        height: 250px;
        width: 100%;
    }
    .c{
        height:500px;
        width: 50%;
    }
}



@media (max-width: 480px) {
    .a-b{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
    .a{
        height: 150px;
    }
    .b{
        height: 150px;
    }
    .c{
        width: 100%;
        height: 150px;
    }
}   