body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    
    height: 70px;
    background-color: #bdbdbd;
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: row;
}

.a {
    order: 2;
    width: 50%;
    height: 600px;
    background-color: greenyellow;
}

.b {
    order: 1;
    width: 25%;
    height: 600px;
    background-color: green;

}

.c {
    order: 3;
    width: 25%;
    height: 600px;
    background-color: yellow;
}





@media (max-width: 768px) {
    .box {
        display: flex;
        flex-wrap: wrap;
    }

    .a {
        order: 1;
        width: 100%;
        height: 400px;
        
    }

    .b {
        order: 2;
        width: 50%;
        height: 200px;
    }

    .c {
        order: 3;
        width: 50%;
        height: 200px;
    }

}



@media (max-width: 480px) {
    .a {
        order: 1;
        width: 100%;
        height: 300px;
        
    }

    .b {
        order: 2;
        width: 100%;
        height: 150px;
    }

    .c {
        order: 3;
        width: 100%;
        height: 150px;
    }

}












footer {
    height: 70px;
    background-color: #bdbdbd;
    margin-top: 10px;

}